*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
}
body {
    position: relative;
    min-height: 100vh;
}
body:before {
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    background-image: url(images/coffee\ shop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.8;
}
#header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}